<%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>


        <!-- Main Content -->
        <main class="container mt-5">
            <div class="">
                <h1>Services</h1>

                <div class="row">
                    <!-- Service 1 -->
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="/Assets/projects/tetris.jpg" class="card-img-top" alt="Service 1">
                            <div class="card-body">
                                <h5 class="card-title">Game development</h5>
                                <p class="card-text">Description of Service 1.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Service 2 -->
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="/Assets/projects/smart-home.jpg" class="card-img-top" alt="Service 2">
                            <div class="card-body">
                                <h5 class="card-title">Home solutions</h5>
                                <p class="card-text">Description of Service 2.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Service 3 -->
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="/Assets/projects/game.avif" class="card-img-top" alt="Service 3">
                            <div class="card-body">
                                <h5 class="card-title">Gameplay</h5>
                                <p class="card-text">Description of Service 3.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>



        <%- include('partials/footer.ejs') %>